build/*

################################################################################

.cproject
.project

lt~obsolete.m4
ltsugar.m4
libtool.m4
ltoptions.m4
ltversion.m4

Makefile
Makefile.in

configure
config.*

compile

autom4te*
missing
stamp-h1
libtool
ltmain.sh
install-sh
aclocal.m4
depcomp

examples/asteroid
examples/comet
examples/lunar
examples/mars
examples/sun
examples/transforms

lntest/libnovaconfig
lntest/lntest

doxyfile
doc/man/*
doc/html/*
doc/doxygen_sqlite3.db

tools/elp82

################################################################################

*.Po
*.Plo
*.swp
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la*
*.a
*.lib
*.libs*

# Executables
*.exe
*.out
*.app

################################################################################

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
